@model IEnumerable<ExcursionApp.Models.ReservationInfo>
@{
    ViewData["Title"] = "ViewMyExcursions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>List of all Booked Excursions</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservationInfoID)
            </th>
            <th>
                @Html.DisplayNameFor(model =>model.ExcursionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JourneyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatNumbers)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationInfoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExcursionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JourneyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatNumbers)
            </td>

            <td>
                <a asp-action="ExcursionDetails" asp-route-id="@item.ReservationInfoID">Details</a>
            </td>

            @* 
                ----< Making the Edit and Delete option visible only to the Administrator >----
                ----< There is only one admin as per the design and his credentials are saved in appSettings.json >----
            *@
            @{
                if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="EditExcursionDetails" asp-route-id="@item.ReservationInfoID">Edit</a>
                    </td>
                    <td>
                        <a asp-action="DeleteExcursion" asp-route-id="@item.ReservationInfoID">Delete</a>
                    </td>
                }

                
            }

        </tr>
        }
    </tbody>
</table>

